* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

#root {
  height: 100vh;
}

.layout {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  height: 100%;
  grid-template-rows: 50px 1fr 50px;
}



main {
  grid-area: main;
}
footer {
  grid-area: footer;
  background-color: #e2e5f1;
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  letter-spacing: 2.5px;
}
