.cart-wrapper {
  width: 70%;
  margin: 20px auto;
}
.cart-title {
  padding-bottom: 10px;
}
.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
  margin-bottom: 10px;
}
.cart-item img {
  width: 100px;
  margin: 10px 20px;
}
.cart-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}
.cart-info p {
  margin-bottom: 10px;
}
.cart-button {
  width: 100px;
  margin-right: 10px;
}
.price-font {
  font-size: 20px;
  font-weight: 700;
}

.cart-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.cart-footer button {
  width: 150px;
  margin-right: 10px;
}
.total {
  font-size: 25px;
}
