header {
  grid-area: header;
  background-color: rgb(254, 238, 0);
  font-size: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  letter-spacing: 2.5px;
}
